* {
    background-color: rgb(122, 185, 59);
}

#outerdiv {
    background-color: white;
    display: inline;
    margin-left: 20%;
    text-align: center;
    height: 50%;

}


button {
    background-color: rgb(122, 185, 59);
    color: aliceblue;
    font-size: 40px;
    background-size: 45px;
    width: 56%;
    height: 79px;
}

.innertext {
    background-color: beige;
    color: rgb(254, 245, 207);
    font-size: 30px;
    text-align: center;
    height: 79px;
    margin-bottom: 15px;

}

#form {
    background-color: white;
    margin-left: 30%;
    margin-top: 12%;
    margin-right: 30%;
    padding: 5% 5% 5% 5%;
}

p {
    background-color: white;

}

a {
    text-decoration: none;
    background-color: white;
}

.innerdiv {
    background-color: white;
}